html {
  background: url(../img/index_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
#title {
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    text-align: center;
    font-size: 80px;
    text-shadow: 1px 1px black;
}

#login {
    width: 800px;
    margin: 0 auto;
}

#login-form {
    color: white;
    border-style: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
#login-form > input {
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    color: white;
    height: 20px;
    border-radius: 10px;
    border: 3px solid white;
    background: none;
}
#login-form > button {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 5px;
    background: none;
    border-style: solid;
    border-radius: 10px;
    width: 80px;
    height: auto;
}
