

#login {
    width: 850px;
    margin: 0 auto;
}

#login-form {
    color: white;
    border-style: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
 input {
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    color: white;
    height: 20px;
    border-radius: 10px;
    border: 3px solid white;
    background: none;
    transition: 0.1s linear;
}
 input:hover {
    background-color: rgba(255, 255, 255, 0.28);
}

select {
    margin-left: 10px;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid white;
    background: white;
    transition: 0.1s linear;
}
#signup {
    visibility: hidden;
    margin: 0 auto;
    width: 400px;
}

#signup-form {
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
