

.list {
    float: left;
    margin: 10px;
    color: white;

}

.pool {
    *height: 1%; /* IE6 IE7 */
}

/* Firefox Chrome Safari IE8  */
.pool:after {
    clear: left;
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}
#colum {
    width: auto;

}

#room-panel {
    min-height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    background: rgba(0,0,0,0.7);
    width: 1100px;
}

.number {
    width: 60px;
    text-align: center;
}

.game-mode {
    width: 100px;
    text-align: center;
}

.room-name {
    width: 200px;
    text-align: center;
}

.host {
    width: 150px;
    text-align: center;
}

.state {
    width: 100px;
    text-align: center;
}

#room-list {
    float: left;
    width: 760px;
}

.list-row:hover {
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}

#user-list {
    border-radius: 10px;
    float: left;
    width: 240px;
    height: 400px;
    color: white;
    padding: 20px;
    margin: 30px;
    background: rgba(255,255,255,0.15);
}

#scroll {
    padding-left: 10px;
    width: 230px;
    height: 80%;
    overflow-y: scroll;
}
#scroll>p:hover {
    background: rgba(255,255,255,0.15);
}

#user-list-title {
    height: 10%;
}
