html {
  background: url(../img/index_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px black;
}
*:focus{
    outline: 0;
}


::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}


.pool {
    *height: 1%; /* IE6 IE7 */
}

/* Firefox Chrome Safari IE8  */
.pool:after {
    clear: left;
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}

#title {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    font-size: 80px;
}
 button {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 5px;
    background: none;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 90px;
    height: auto;
    transition: 0.2s linear;
}
 button:hover{
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, 1);
}

.alert {
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
}

#alert-box {
    margin: 0 auto;
    position: relative;
    top: 300px;
    padding: 50px;
    width: 250px;
    height: 100px;
    background: white;
    color: black;
    border-radius: 10px;
    text-align: center;

}

#alert-title {
    margin-bottom: 25px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
}

#alert-btn {
    width: 100px;
    height: 40px;
    font-size:20px;
    background: green;
    border: none;
    transition: 0.05s linear;
}
#alert-btn:hover {
    margin-top: -3px;
    font-size:23px;
    width:106px;
    height: 46px;
}
#alert-btn:active {
    margin-top: 0px;
    width: 100px;
    height: 40px;
    font-size:20px;
    background: green;
    border: none;
    transition:none;
}


